<div id="wrapper" class="white-bg">
    <div id="header_div">

    <nav class="navbar navbar-static-top" role="navigation">

    <div id="header_logo">
            <img style="width: 90px;" src="https://sims.sjut.ac.tz/images/logo.png">
        </div>
        <div id="header_content">
            <div id="header_content_college">ST JOHN'S UNIVERSITY OF TANZANIA [ SJUT ] </div>
            <div id="header_content_sims">STUDENT INFORMATION MANAGEMENT SYSTEM { SIMS } </div>
        </div>
    <div style="clear: both;"></div>
</nav>
    </div>
<div id="header_line"></div>
        

       <div class="container" style="margin-top: 15px; color: #000; font-size: 15px; font-weight: bold;">
           <div class="row">
               <div class="col-md-6 col-sm-6"> Academic Year : 2024/2025</div>
               <div class="col-md-6 col-sm-6" style="text-align: right;">May 7, 2025</div>
           </div>
       </div>

       <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <div style="color: #000; font-size: 14px; margin: 20px 10px 10px 40px;">
    <div style="border-right: 2px solid #494949;">

        <p><b> Welcome to SIMS </b><br>
            <span style="margin-left: 15px; display: block; ">The Student Information Management System (SIMS) holds all the information relating to students.</span>
        </p>

        <p><b style="display: block;">Students</b>
            <span style="display: block; text-indent: 15px;"><b>*</b> Register for Courses online</span>
            <span style="display: block; text-indent: 15px;"><b>*</b> View Course Progress and Results</span>
            <span style="display: block; text-indent: 15px;"><b>*</b>  Forums</span>


        </p>

        <p>
            <b style="display: block;">Teaching Staff</b>
            <span style="display: block; text-indent: 15px;"><b>*</b> View list of Students per Course</span>
            <span style="display: block; text-indent: 15px;"><b>*</b> Publish Course Results</span>
            <span style="display: block; text-indent: 15px;"><b>*</b> Track Students Progress/Reports</span>
        </p>

        <p>
            <b style="display: block;">Other</b>
            <span style="display: block; text-indent: 15px;"><b>*</b> Payment Management</span>
            <span style="display: block; text-indent: 15px;"><b>*</b> Configuration</span>

        </p>

  <p>
            <b style="display: block; color: red;">HOW TO GENERATE CONTROL NUMBER</b>
            <span style="display: block; text-indent: 15px;font-size:15px; color:#000; font-weight:bold;"><b>*</b> <a style="color:#000;" href="https://sims.sjut.ac.tz/uploads/docs/CONTROL_NUMBER.pdf">Click here to Download</a> </span>

        </p>




    </div>
</div>
               </div>
               <div class="col-md-6">
                   <div class="animated fadeInRight" style="margin-bottom: 100px;">
                       <div id="login-box">

    <div class="signin">Login</div>

    <div style="color: red; font-size: 12px;">
        <div class="alert alert-info alert-dismissable"><div>Logged Out Successfully</div></div>    </div>

    <form action="https://sims.sjut.ac.tz/login" class="form-horizontal" method="post" accept-charset="utf-8">

    <p>
        <label for="identity">Username</label>
        <input type="text" name="identity" placeholder="Enter your username" class="form-control" id="identity">
            </p>

    <p>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter your password" class="form-control" id="password">
            </p>

    <p>
        <input type="checkbox" name="remember" value="1">
        <label for="remember" style="font-size: 15px; ">Remember me</label>
        <a href="https://sims.sjut.ac.tz/forgot_password" style="margin-left: 80px;" name="Forgot Password">
            Forgot your password?
        </a>


    </p>

    <p style=" width: 350px;"><input type="submit" name="submit" value="Login" class="submit">
</p>


    </form>

</div>
                   </div>

               </div>
           </div>
       </div>


        <style>
        .footer.fixed {
            margin-left: 0px !important;
        }
    </style>
<div class="footer fixed">
    <div id="header_line" style="margin-top: -15px; margin-left: -20px; position: fixed;  "></div>

    <div class="pull-right">
        Design and Developed by <strong><a href="http://ictsolutionsdesign.com" target="_blank">ICT SOLUTIONS
                DESIGN</a></strong>.
    </div>
    <div>
        <strong> © 2025 &nbsp; &nbsp; <a href="https://www.sjut.ac.tz/" target="_blank">ST JOHN'S UNIVERSITY OF TANZANIA</a></strong>
    </div>
</div>
</div>